<div class="container">
  <div class="first-half">
    <div class="nav">
        <a href="#" class="links">CV</a>
        <a href="#" class="links">WORK</a>
        <a href="#" class="links">CONTACT ME</a>
    </div>
      <div class="header">
        <h1>Camila Miorelli</h1>
      </div>
  </div>
  <div class="second-half">
    <div class="image">
      <%= image_tag "camila_mirror.JPG", width: "400" %>
    </div>
    <div class="info">
      <p>Former Museologist and Heritage Professional.</p>
      <p>Current FullStack Web Developer. </p>
    </div>
  </div>
  <div class="mystack">
    <div class="current">
    <h4>current stack</h4>
      <ul class="languages">
        <li><%= image_tag "rails.png", width: "150" %></li>
        <li><%= image_tag "css.png", width: "55" %></li>
        <li><%= image_tag "html.png", width: "75" %></li>
        <li><%= image_tag "javascript.png", width: "75" %></li>
        <li><%= image_tag "REALSASS.png", width: "75" %></li>
        <li><%= image_tag "gitlogo.png", width: "75"  %></li>
        <li><%= image_tag "heroku.svg", width: "50" %></li>
        <li><%= image_tag "sql.png", width: "50"  %></li>
        <li><%= image_tag "react.png", width: "75" %></li>
      </ul>
    </div>
  </div>
</div>


