<div class="container col-12">
  <div class="row">
  <div class="first-half">
     <div class="header">
        <h1>Camila Miorelli</h1>
      </div>
    <div class="nav">
        <%= link_to "CV", cv_path, class:"links" %>
        <%= link_to "PROJECTS", work_path, class:"links" %>
        <%= link_to "CONTACT", about_path, class:"links" %>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="second-half">
      <div class="image">
        <%= image_tag "CAMI.png", width: "350"  %>
      </div>
      <div class="info">
        <p>Former Museologist and Heritage Professional.</p>
        <p>Current FullStack Web Developer. </p>
        <div class="giticon"><a href="https://github.com/CamilaMiorelli" target="_blank"><i class="fab fa-github-square"></i></a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mystack">
      <div class="current">
        <div class="stack-title">
          <h4>current stack</h4>
        </div>
        <ul class="languages">
          <li><%= image_tag "rails.png", width: "150", :class => "style_image" %></li>
          <li><%= image_tag "css.png", width: "55", :class => "style_image" %></li>
          <li><%= image_tag "html.png", width: "75", :class => "style_image" %></li>
          <li><%= image_tag "javascript.png", width: "75", :class => "style_image"  %></li>
          <li><%= image_tag "REALSASS.png", width: "75", :class => "style_image" %></li>
          <li><%= image_tag "heroku.svg", width: "50", :class => "style_image" %></li>
          <li><%= image_tag "sql.png", width: "50", :class => "style_image"  %></li>
          <li><%= image_tag "react.png", width: "75", :class => "style_image" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


