<div class="container">
  <div class="first-half">
    <div class="nav">
        <%= link_to "CV", cv_path, class:"links" %>
        <%= link_to "WORK", work_path, class:"links" %>
        <%= link_to "CONTACT", about_path, class:"links" %>
    </div>
      <div class="header">
        <h1>Camila Miorelli</h1>
      </div>
  </div>
  <div class="second-half">
    <div class="image">
      <%= image_tag "cami_web.jpg", width: "400" %>
    </div>
    <div class="info">
      <p>Former Museologist and Heritage Professional.</p>
      <p>Current FullStack Web Developer. </p>
      <a href="https://github.com/CamilaMiorelli" target="_blank"><i class="fab fa-github-square"></i></a>
    </div>
  </div>
  <div class="mystack">
    <div class="current">
      <div class="stack-title">
        <h4>current stack</h4>
      </div>
      <ul class="languages">
        <li><%= image_tag "rails.png", width: "150" %></li>
        <li><%= image_tag "css.png", width: "55" %></li>
        <li><%= image_tag "html.png", width: "75" %></li>
        <li><%= image_tag "javascript.png", width: "75" %></li>
        <li><%= image_tag "REALSASS.png", width: "75" %></li>
        <li><%= image_tag "heroku.svg", width: "50" %></li>
        <li><%= image_tag "sql.png", width: "50"  %></li>
        <li><%= image_tag "react.png", width: "75" %></li>
      </ul>
    </div>
  </div>
</div>


